.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.pnp.*
node_modules

/.cache
/build
.env
.env.development

# Sqlite Database
*.sqlite

# secrets / other locals
*.local

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*
